backports-abc==0.5
beautifulsoup4==4.5.1
certifi==2016.9.26
colorama==0.3.7
coloredlogs==5.2
configobj==5.0.6
gevent==1.1.2
gevent-inotifyx==0.1.1
greenlet==0.4.10
humanfriendly==2.1
inotifyx==0.2.2
lxml==3.6.4
py==1.4.31
pytest==3.0.4
pytest-timeout==1.2.0
pyzmq==16.0.1
qrcode==5.3
requests==2.12.1
requests-toolbelt==0.7.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
